body{
    background: white;
}
.clearfix{
    float:none;
    clear:both;
}

#menu li.rigth{
    float: right !important;
    float: right;
    border-right: 0px;
    border-right: 1px solid #ccc;
    
}


.header a{
  text-decoration: none;
  color: white;
}


.header a:hover{
  text-decoration: none;
  color: rgb(234, 219, 219);
}





.example-wrapper { 
    margin: 1em auto; 
    max-width: 800px; 
    width: 95%;
    font: 18px/1.5 sans-serif; 
}
.example-wrapper code { 
    background: #F5F5F5; 
    padding: 2px 6px; 
}


input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select{
    width: 70%;
    padding: 8px;
}

label{
    display: block;
    width: 80%;
    margin-top: 15px;
    margin-bottom: 5px;
}

button,
input[type="submit"]{
    padding: 8px;
    background: #000AA3;
    color: aliceblue;
    /* border: 1px solid #047425; */
    margin-top:15px; 
    cursor:pointer;    
    transition:all 300ms;   
}

button:hover,
input[type="submit"]:hover{
    background: #047425;      
}



#header{
    margin: 1em auto; 
    max-width: 800px; 
    width: 95%;
    font: 18px/1.5 sans-serif; 

}


#menu{
        margin:0px;
        padding:0px;
        list-style: none;
        width: 100%;
        height: 50px;
        background: #eee;
        line-height: 50px;

}


#menu a{
    display:block;
    color: #292929;
    text-decoration: none;

    transition: all 300ms;
}


#menu li{
   float: left;
   display: block; 
   padding-left:15px;
   padding-right: 15px;
   border-right: 1ox solid #eee;
   cursor:pointer;
   transition: all 300ms;
}



#menu li:hover{
    background: #444;
    
 }

 #menu li:hover a{
    
    color:white;
 }

#menu a{
    display:block;
    color: #292929;
    text-decoration: none;


}
table {
    width: 100%;
}


table th,
table td{
    background: #eee;

    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-bottom: 1px solid #f6f6f6;
    text-align: center;

}

table td{
    background: #d0dbd1;
}



.buttons a{
    text-decoration: none;
    border: 1px solid #8f8f8f;
    padding: 10px;
    color: white;
    border-radius: 0.3rem;
   
}
.buttons{
    width: 33%;
}

.buttons .btn-edit{
    background: #a4f7bd;
}
.buttons .btn-edit:hover{
    background: #a4f7bd;
    box-shadow: 2px 3px 5px 0px rgba(128,128,128,1);
    color:rgb(161, 161, 161);
}

.buttons .btn-delete{
    background: #ff8282;
}
.buttons .btn-delete:hover{
    background: #ff8282;
    box-shadow: 2px 3px 5px 0px rgba(128,128,128,1);
    color:rgb(161, 161, 161);
}

.buttons .btn-show{
    background: #ffd67d;
}
.buttons .btn-show:hover{
    background: #ffd67d;
    box-shadow: 2px 3px 5px 0px rgba(128,128,128,1);
    color:rgb(161, 161, 161);
}



.data-task{
    background: gray;
}

#task_complete{
    display: flex !important;
}

#complete{
    background: red !important;
}





  .checkbox-wrapper-8 .tgl {
    display: none;
  }
  .checkbox-wrapper-8 .tgl,
  .checkbox-wrapper-8 .tgl:after,
  .checkbox-wrapper-8 .tgl:before,
  .checkbox-wrapper-8 .tgl *,
  .checkbox-wrapper-8 .tgl *:after,
  .checkbox-wrapper-8 .tgl *:before,
  .checkbox-wrapper-8 .tgl + .tgl-btn {
    box-sizing: border-box;
  }
  .checkbox-wrapper-8 .tgl::-moz-selection,
  .checkbox-wrapper-8 .tgl:after::-moz-selection,
  .checkbox-wrapper-8 .tgl:before::-moz-selection,
  .checkbox-wrapper-8 .tgl *::-moz-selection,
  .checkbox-wrapper-8 .tgl *:after::-moz-selection,
  .checkbox-wrapper-8 .tgl *:before::-moz-selection,
  .checkbox-wrapper-8 .tgl + .tgl-btn::-moz-selection,
  .checkbox-wrapper-8 .tgl::selection,
  .checkbox-wrapper-8 .tgl:after::selection,
  .checkbox-wrapper-8 .tgl:before::selection,
  .checkbox-wrapper-8 .tgl *::selection,
  .checkbox-wrapper-8 .tgl *:after::selection,
  .checkbox-wrapper-8 .tgl *:before::selection,
  .checkbox-wrapper-8 .tgl + .tgl-btn::selection {
    background: none;
  }
  .checkbox-wrapper-8 .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .checkbox-wrapper-8 .tgl + .tgl-btn:after,
  .checkbox-wrapper-8 .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
  }
  .checkbox-wrapper-8 .tgl + .tgl-btn:after {
    left: 0;
  }
  .checkbox-wrapper-8 .tgl + .tgl-btn:before {
    display: none;
  }
  .checkbox-wrapper-8 .tgl:checked + .tgl-btn:after {
    left: 50%;
  }

  .checkbox-wrapper-8 .tgl-skewed + .tgl-btn {
    width: 140px;
    overflow: hidden;
    transform: skew(-10deg);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transition: all 0.2s ease;
    font-family: sans-serif;
    background: #888;
  }
  .checkbox-wrapper-8 .tgl-skewed + .tgl-btn:after,
  .checkbox-wrapper-8 .tgl-skewed + .tgl-btn:before {
    transform: skew(10deg);
    display: inline-block;
    transition: all 0.2s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }
  .checkbox-wrapper-8 .tgl-skewed + .tgl-btn:after {
    left: 100%;
    content: attr(data-tg-on);
  }
  .checkbox-wrapper-8 .tgl-skewed + .tgl-btn:before {
    left: 0;
    content: attr(data-tg-off);
  }
  .checkbox-wrapper-8 .tgl-skewed + .tgl-btn:active {
    background: #888;
  }
  .checkbox-wrapper-8 .tgl-skewed + .tgl-btn:active:before {
    left: -10%;
  }
  .checkbox-wrapper-8 .tgl-skewed:checked + .tgl-btn {
    background: #86d993;
  }
  .checkbox-wrapper-8 .tgl-skewed:checked + .tgl-btn:before {
    left: -100%;
  }
  .checkbox-wrapper-8 .tgl-skewed:checked + .tgl-btn:after {
    left: 0;
  }
  .checkbox-wrapper-8 .tgl-skewed:checked + .tgl-btn:active:after {
    left: 10%;
  }

/* 
estilos de grid layout reponsive
*/

/* .layout {
  width: 1366px;
  height: 768px;
 

  display: flex;
  gap: 16px;
  flex-wrap: wrap;
} */

/* .layout div{


   max-height: 25%;
   background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);  



  border-radius: 0.3rem;
  border: 2px solid #525252;
  color: white;
  -webkit-box-shadow: 10px 10px 0px -7px rgba(31,31,31,1);
  -moz-box-shadow: 10px 10px 0px -7px rgba(31,31,31,1);
  box-shadow: 10px 10px 0px -7px rgba(31,31,31,1);
} */



/* 
html { font-size: 22px; }
body { padding: 1rem; }

.card {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
 
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
} */




.a_{
  color:rgb(68, 68, 68);
  text-decoration: none;
}


.conteiner{
    display: flex;
    justify-content: center;
    margin-top: 4%;
    min-width: 90%;
}