controllers:
    resource: ../src/Controller/
    type: attribute

login:
    path: /login
    controller: App\Controller\UserController::login

registro:
    path: /registro
    controller: App\Controller\UserController::register

streaks:
    path: /factura
    controller: App\Controller\InvoiceController::allInvoices

streak_creation:
  path: /new-invoice
  controller: App\Controller\InvoiceController::creation


index:
    path: /
    controller: App\Controller\InvoiceController::myInvoices

logout:
    path: /logout



invoice_response:
  path: /invoice/{id}
  controller: App\Controller\ResponseController::create